* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contenedor {
    width: 100%;
    min-height: 100vh;
    background: #1e1e1e;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.contenedor h2 {
    color: wheat;
    text-shadow: 2px 2px 2px blueviolet;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    text-align: center;
}

.vapor {
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
    width: 300px;
}

.vapor span {
    position: relative;
   /*  bottom: 50px; */
    display: block;
    margin: 20px 20px 20px;
    min-width: 8px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    animation: vap1 5s linear infinite;
    opacity: 0;
    filter: blur(8px);
    animation-delay: calc(var(--i) * -0.5s);
    
}

@keyframes vap1 {
    0% {
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    50% {
        transform: translateY(-150px) scaleX(5);
        
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: translateY(-300px) scaleX(10);
       
    }
}